parameters:
    level: 1
    paths:
        - .
    excludePaths:
        - vendor/
        - Tests/
    ignoreErrors:
        - '#.* (class|type) Vich\\UploaderBundle\\.*#'
        - '#^Parameter \$om of method Hackzilla\\Bundle\\TicketBundle\\Manager\\TicketManager(Interface)?::setEntityManager\(\) has invalid typehint type Doctrine\\Common\\Persistence\\ObjectManager\.$#'
