parameters:
    level: 4
    paths:
        - .
    excludePaths:
        - vendor/
        - Tests/
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
